body {
  background: url('./img/v935-aum-16.jpg');
  background-size: cover;
  overflow-x: hidden;
  overflow-y: auto;
  .to_do {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10vh;
    width: 100vw;
    height: 80vh;
    border: 3px solid black;
    overflow: auto;
    .to_do_input {
      width: 500px;
      height: 200px;
      background: rgba(255, 255, 255, 0.1);
      box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
      backdrop-filter: blur(7px);
      -webkit-backdrop-filter: blur(7px);
      border-radius: 10px;
      border: 1px solid rgba(255, 255, 255, 0.18);
      text-align: center;
      input {
        margin-top: 75px;
        text-align: center;
        width: 400px;
        height: 50px;
        border-radius: 25px;
        border: none;
      }
    }
    .to_do_list {
      width: 500px;
      height: 500px;
      .to_do_list_ul {
        li {
          position: relative;
          width: 500px;
          height: 100px;
          background: rgba(255, 255, 255, 0.1);
          box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
          backdrop-filter: blur(7px);
          -webkit-backdrop-filter: blur(7px);
          border-radius: 10px;
          border: 1px solid rgba(255, 255, 255, 0.18);
          margin-top: 5px;
          span:nth-child(1) {
            display: block;
          }
          span:nth-child(2) {
            display: block;
            position: absolute;
            right: 5px;
          }
          span:nth-child(3) {
            display: block;
            position: absolute;
            right: 30px;
          }
        }
      }
    }
  }
}
